.background{
	background: 
	url(../img/bg_html.jpg);
}
.wrap{
	width: 900px;
	margin: 0 auto;
}
.header{
	height: 120px;
	position: relative;
}
.header h1 a{
	width: 170px;
	height: 81px;
	display: block;
	text-indent:-9999px;
	background: 
	url(../img/logo.png);
}
.header h1{
	float: left;
}
.menu ul li{
	float: left;
	color:black;
    margin-right: 20px;
    margin-left: 20px;
    list-style-type: none; 
}
.function{
	position: relative;
	}
.function ul li {
	float: left;
    margin-right: 20px;
    margin-left: 20px;
    list-style-type: none; 
}
.function ul{
	position: absolute;
	top: 10px;
	right: 10px;
}

.menu a{
	display: block;
	text-decoration: none;
    list-style-type: none;
}

.menu{
	float: left;
	position: absolute;
    bottom:20px;
    right:60px;
}
.menu p{
    list-style-type: none;
    color:black;
}
.clear{
	clear: both;
}
.photo{
	float: left;
}
.special{
	float: left;
	width: 300px;
	height: 300px;
	background-color: black;
}
.special h2{
	color:#00BBFF;
 	padding-left: 20px;
 	font-size: 30px;	
}
.special p{
	color:#DDDDDD;
	line-height: 30px;
	padding-left:20px; 
}
.special a{
	display: block;
    width: 130px;
    height: 20px;
    background: #696969;
	color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
  	margin-left: 20px;
<<<<<<< HEAD
=======

>>>>>>> origin/master
}
.photo img{
	width: 600px;
	height: 300px;
	margin-bottom: 30px;
}
.menu p:hover{
	color:blue;
}
.special a:hover{
	color:blue;
}

h4:hover{
	color:blue;
}
.word{
	margin-bottom: 20px;
	background-color: white;
<<<<<<< HEAD
=======
	padding-left:30px;
	padding-right:15px; 
	padding-top:15px;

>>>>>>> origin/master
}

.word p{
	font-size: 15px;
	line-height: 25px;
}
.news{
	background-color: white;
	height: 500px;
}
.event{
	float: left;
	width: 650px;
}
.event h3{
	padding-left: 40px;
}
.event ul li{
	 list-style-type: none;
}
.event ul li a{
	display: block;
	text-decoration: none;
	color:black;
	width: 610px;
}
.event ul li img{
	float:left;
}
.text{
	margin-left: 10px;
	width: 410px;
	float:left;
}
.text h4{
	line-height: 5px;
}
.list{
	float: left;
	width: 250px;
	height: 250px;
}
.list li{
	    padding-bottom: 10px;
}
.list h3{
	display: block;
	padding-top: 30px;
	margin-left: 20px;	
}
.list ul li a {
    display: block;   
}
.list a{
	display: block;
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color: #00bfff;
    font-family: Microsoft JhengHei;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 30px;
}
.footer{
	padding-bottom: 10px;
}
.footer p{
	    text-align: center;
	    font-size: 12px;
}
.blue{
	color:blue;
}
input{
	margin-left:20px; 
}
@media only screen and (max-width: 768px){
.wrap{
	width: 100%;
}
.special {
    width: 100%;
	float: left;
    margin-left: 0px;
    margin-right: 0px;
}
.photo{
	display: none;
}
.special p {
    line-height: 30px;
    margin-bottom: 20px;
}

.special h2 {
    text-align: left;
    font-size: 45px;
    color: #01AAFF;
}
.word{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.word p {
    width: 90%;
}
.news{
	width: 100%;
	height: 600px;
}
.event ul{
    width: 90%;    
    margin-right: 5%;
    margin-left: 5%;
}
.event{
	background-color: white;
	width: 100%;
	float: none;
}
.list{
	margin-top: 10px;
	width: 80%;
	float: left;
	margin-right: 5%;
    margin-left: 5%;

}
.list ul li{
	list-style: none;
    text-align: center;
}
.list h3{
	 text-align: center;	
}
.special2{
	float: left;
}
.find{
	float: left;
	margin-left: 50px;
}
input{
	text-align: center;
	margin-left: 40%;
	width: 20%;
}
.list a{
	margin-left: 40%;
	width: 20%;
}
.footer{

	margin-left: 30%;
	width: 30%;
}
}
@media only screen and (max-width: 320px){
.menu{
    width: 100%;
    text-align: center;
    float: none;
    position: relative;
}
.menu ul li{
    width: 100%;
    font-size: 20px;
    clear: left;
    background-color: yellow;
    margin-bottom: 5px;
    height: 50px;
}
.text{
	display: none;
}
.event ul li a{
	width: 100%;
}
<<<<<<< HEAD
.event ul li img{
	float:none;
=======
input{
	margin-left:20px; 
}
@media only screen and (max-width: 768px){
.wrap{
	width: 100%;
}
.menu {
    position: absolute;
    top: 30px;
    left: 150px;
}
.photo {
    display: none;
}
.special {
    width: 100%;
	float: left;
    margin-left: 0px;
    margin-right: 0px;
 
    
}
.special p {
    line-height: 30px;
    margin-bottom: 20px;
}

.special h2 {
    text-align: left;
    font-size: 45px;
    color: #01AAFF;
}
 .word{
    width: 100%;
    margin-bottom: 20px;

}
.word p {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
.news{
	width: 100%;
}
.event ul{
    width: 90%;    
    margin-right: 5%;
    margin-left: 5%;
}
.event{
	width: 100%;
	float: none;
}
.list{
	margin-top: 10px;
	width: 90%;
	margin-right: 5%;
    margin-left: 5%;

}
.list ul li{
	    list-style: none;
    text-align: center;
}
.list h3{
	 text-align: center;	
}
.event ul li p {
    width: 60%;
}
input{
	text-align: center;
	margin-left: 40%;
	width: 20%;
}
.list a{
	margin-left: 40%;
	width: 20%;
}
.footer{
	position: absolute;
	top: 1600px;
	margin-left: 30%;
	width: 30%;
}
}
@media only screen and (max-width: 480px){
.wrap{
	width: 100%;
}
.header{
	height: 500px;
}
.menu{
	position: absolute;
    top: 110px;
    width: 100%;
    text-align: center;
    left: -40px;
    float: none;
}
.menu ul li{
    width: 100%;
    font-size: 20px;
    clear: left;
    background-color: yellow;
    margin-bottom: 5px;
    height: 50px;
>>>>>>> origin/master
}
.special{
	display: none;
}
<<<<<<< HEAD
.function{
	display: none;
}
.special2{
	float:none;
}
.find{
	float:none;
}
.news{
	height: 800px;
}


=======
.word{
	float: none;
	width: 100%;
}
.news{
	margin-right: 5%;
    margin-left: 5%;
    width: 90%;
	float: none;
}
.event {
	float: none;
}
.event h3,h4{
	display: none;
}
.event ul{
	float: none;
	margin-top: 130px;
}
.event ul li{
	margin-top: 50px;
    margin-left: 20px;
   
}
.list{
	float: none;
}
.list h3{
	display: none;
}
.list ul{
	margin-top: 520px;
}
.list ul li{
	margin-top: 20px;
	width: 90%;
		margin-right: 5%;
    margin-left: 5%;
}
.footer{
	margin-top:300px; 
	float: none;
	width: 90%;
	margin-right: 5%;
    margin-left: 5%;
}
>>>>>>> origin/master
}